//Components: anything reusable such as buttons, nav-bars, cards etc.

nav {
    background-color: rgba(0, 0, 0, 0.924);

    ul {
        display: flex;
        height:75px;
        align-items: center;


        li {
            flex: 1;

            #logo {
                width: 75px;
                height: 75px;
            }
            a{
                text-decoration: none;
                color: white;
                font-size: 1.5rem;
            }
        }
    }

}

footer{
    display:flex;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.924);

}