//Layout: contains all the CSS that handles the layout, such as the container and any grid systems.

body {

    
    header {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 400px;
        background: url('..//images/header-img.jpeg') grey;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        align-items: center;
        justify-content: center;



        h3 {
            color: white;
            font-size: 4.5rem;
            font-weight: 700;
            flex-shrink: 1;
            text-shadow: 3px 3px 0px #000;




        }

        p {
            color: white;
            font-size: 2rem;
            font-weight: 700;
            flex-shrink: 1;
            text-shadow: 3px 3px 0px #000;
            margin-bottom: 50px;


            @include phone {
                font-size: 1.5rem;
            }


        }

        button {
            color: #fff;
            text-transform: uppercase;
            background: #F01716;
            padding: 20px;
            border-radius: 5px;
            display: inline-block;
            border: none;

            &:hover {
                background: #434343;
                letter-spacing: 1px;
                -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
                -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
                box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
                transition: all 0.4s ease 0s;
            }
        }

    }



    main {
        h3 {
            font-size: 3rem;
            margin: 115px auto;
            text-align: center;
        }

        .card-container {
            display: flex;
            justify-content: space-evenly;
            @include phone {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;
                text-align: center;
                margin: 0;
            }

            .card {
                margin: 0px 5px 50px 5px;
                

                .card-img-top {
                    width: 285px;
                    height: 190px;
                }
            }


        }
        .media-object-container{
            @include tablet-portrait {
                // display: flex;
                // flex-direction: column;
            }
        .media-object {
            display: flex;
            align-items: flex-start;
            margin-bottom: 150px;

            @include tablet-portrait  {
                flex-direction: column;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
            }

            @include phone {
                flex-direction: column;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
            }

            img {
                width: 400px;
                height: 300px;

                @include phone {
                    margin: 0px 0px 15px 50px;
                }

            }

            div {
                height: 100%;
                width: 100%;
                text-align: center;

                h2 {
                    font-size: 3rem;
                    margin-bottom: 30px;

                }

                p {
                    font-size: 1.5rem;
                }
            }

        }
    }


    }

}