//Layout: contains all the CSS that handles the layout, such as the container and any grid systems.

body {
    @include phone{
        background-color:pink;
    }

    img {
        width: 300px;
        height: 300px;
    }
}