/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

nav {
  background-color: rgba(0, 0, 0, 0.924);
  display: block; }
  nav ul {
    display: flex;
    height: 75px;
    align-items: center; }
    nav ul li {
      flex: 1; }
      nav ul li #logo {
        width: 75px;
        height: 75px; }
      nav ul li a {
        text-decoration: none;
        color: white;
        font-size: 1.5rem; }

footer {
  display: flex;
  height: 150px;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.924); }
  @media (max-width: 599px) {
    footer {
      flex-direction: column;
      height: 300px; } }
  footer i {
    color: white;
    flex: 1; }

.section {
  width: 70%;
  margin: 45px auto;
  display: flex;
  border: 1px solid #cfcccc;
  box-shadow: 1px 1px 5px #cfcccc;
  border-radius: 10px;
  overflow: hidden; }
  .section .tabs {
    width: 100%; }
  .section .tabs .tabs-items {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    padding-top: 60px; }
  .section .tabs .tabs-item {
    display: none;
    width: 75%; }
  .section .tabs .tabs-item .tabs-item-title {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 10px; }
  .section .tabs .tabs-item-selected {
    display: block; }
  .section .tabs .tabs-links {
    display: flex;
    background-color: #cfcccc; }
  .section .tabs .tabs-link {
    padding: 20px 25px;
    font-size: 24px;
    background-color: #cfcccc;
    border-right: 1px solid white;
    color: #ffffff;
    cursor: pointer; }
  .section .tabs .tabs-link:hover {
    background-color: #cfcccc; }
  .section .tabs .tabs-link-selected {
    z-index: 2;
    border-right: 1px solid #cfcccc;
    background-color: #ffffff;
    color: black; }
  .section .tabs .tabs-link-selected:hover {
    background-color: #ffffff; }
  .section .box {
    padding: 40px; }
    .section .box .box-title {
      font-size: 24px;
      padding-bottom: 10px;
      font-weight: bold; }

body {
  font-family: Georgia, 'Times New Roman', Times, serif; }
  body header {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 400px;
    background: url("..//images/header-img.jpeg") grey;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    align-items: center;
    justify-content: center; }
    body header h3 {
      color: white;
      font-size: 4.5rem;
      font-weight: 700;
      flex-shrink: 1;
      text-shadow: 3px 3px 0px #000; }
    body header p {
      color: white;
      font-size: 2rem;
      font-weight: 700;
      flex-shrink: 1;
      text-shadow: 3px 3px 0px #000;
      margin-bottom: 50px; }
      @media (max-width: 599px) {
        body header p {
          font-size: 1.5rem; } }
    body header button {
      color: #fff;
      text-transform: uppercase;
      background: #49c5b6;
      padding: 20px;
      border-radius: 5px;
      display: inline-block;
      border: none; }
      body header button:hover {
        background: #434343;
        letter-spacing: 1px;
        -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
        -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
        box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
        transition: all 0.4s ease 0s; }
  body main h3 {
    font-size: 3rem;
    margin: 115px auto;
    text-align: center; }
  body main .card-container {
    display: flex;
    justify-content: space-evenly;
    margin-right: 0; }
    @media (max-width: 599px) {
      body main .card-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
        margin: 0; } }
    @media (max-width: 900px) {
      body main .card-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
        margin: 0; } }
    body main .card-container .card {
      margin: 0px 5px 50px 5px; }
      body main .card-container .card .card-img-top {
        width: 285px;
        height: 190px; }
      body main .card-container .card a {
        background-color: #49c5b6;
        border: none; }
        body main .card-container .card a:hover {
          background: #434343;
          letter-spacing: 1px;
          -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
          -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
          box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
          transition: all 0.4s ease 0s; }
  body main .media-object-container .media-object {
    display: flex;
    align-items: flex-start;
    margin-bottom: 150px; }
    @media (max-width: 900px) {
      body main .media-object-container .media-object {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap; } }
    @media (max-width: 599px) {
      body main .media-object-container .media-object {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap; } }
    body main .media-object-container .media-object img {
      width: 400px;
      height: 300px; }
      @media (max-width: 599px) {
        body main .media-object-container .media-object img {
          margin: 0px 0px 15px 50px; } }
    body main .media-object-container .media-object div {
      height: 100%;
      width: 100%;
      text-align: center; }
      body main .media-object-container .media-object div h2 {
        font-size: 3rem;
        margin-bottom: 30px; }
      body main .media-object-container .media-object div p {
        font-size: 1.5rem;
        text-align: justify;
        margin-left: 10px; }
  body main button .contact {
    font-size: 4rem; }
    body main button .contact a {
      color: black;
      text-decoration: none; }

.themes-main {
  font-family: Georgia, 'Times New Roman', Times, serif; }
  .themes-main ul {
    display: flex;
    flex-direction: column; }
    @media (max-width: 599px) {
      .themes-main ul {
        justify-content: center;
        align-items: center;
        text-align: center; } }
    .themes-main ul .media-h3 {
      margin: 75px auto; }
    .themes-main ul li {
      display: flex; }
      @media (max-width: 599px) {
        .themes-main ul li {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center; } }
